
.header {
    color: $purple;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar__icon{
    font-size: 1.3em;
    border: 0px solid red;
    border-radius: 5px;
    padding: 7px;
    color: $white;
    background: $purple;
    cursor: pointer;
}