.services {
    padding-bottom: 30px;
    background: $background2;
    text-align: center;
    padding-top: 20px;
}
.services__title {
    text-align: center;
    color: $white;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 200px;
        background: $purple;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.services__txt {
    margin-top: 50px;
    color: $txt;
    font-size: 1.4em;
}
.services__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 20px;
    grid-gap: 20px;
}
.services__item {
    background: #040402;
    padding: 20px;
}
.fa-mobile-alt{
    color: $txt;
    font-size: 2.5em;
}
.item__title{
    margin-top: 24px;
    color: $white;
    font-size: 1.3em;
}
.item__txt{
    margin-top: 24px;
    color: $txt;
    font-size: 1.2em;
}